<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon *ngIf="!canAnimateIndicator" color="danger" aria-hidden="true" name="wifi" slot="start"></ion-icon>
    <ion-icon *ngIf="canAnimateIndicator" color="success" aria-hidden="true" name="wifi" slot="start"></ion-icon>
    <ion-buttons slot="primary">
      <ion-button id="open-modal" fill="outline">
        Settings
        <ion-icon slot="end" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Bottango Animation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!--  <ion-header collapse="condense">-->
<!--    <ion-toolbar>-->
<!--      <ion-buttons slot="primary">-->
<!--        <ion-button fill="outline">-->
<!--          Settings-->
<!--          <ion-icon slot="end" name="create"></ion-icon>-->
<!--        </ion-button>-->
<!--      </ion-buttons>-->
<!--      <ion-title>Bottango Animations</ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->

  <ion-button (click)="playAnimation(animation)" style="display: block" *ngFor="let animation of animationsList">{{animation}}</ion-button>
  <ion-button (click)="getStatusBarHeight()" style="display: block">Get Height</ion-button>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Settings</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          <ion-input
            label="Enter the Local IP or Web Address of the Computer Running Bottango"
            labelPlacement="stacked"
            type="text"
            placeholder="IP Address"
            [(ngModel)]="ipAddress"
          ></ion-input>
        </ion-item>
        <br>
        <div style="width: 100%; height: 5%;">
          <ion-button id="testButton" (click)="testConnection()">Test Connection</ion-button>
        </div>

        <br>
        <ion-card>
          <ion-card-content>
            *Note: You need to turn on API access on Bottango to use this. Click <i>Hardware</i> in the top right-hand corner and toggle the <i>API</i> toggle to on. Remember the port number.
            <br>
            <br>
            Be sure to omit "https://", "http://", and the trailing "/" at the end of a URL. Be sure to include the port number in your URL.
            <br>
            <br>
            So if your URL/IP is "https://127.0.0.1/" and your port number is "59224", it would look like <i>127.0.0.1:59224</i>.
            <br>
            <br>
            To connect to a computer on the same network just get the IP address of that computer
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>

  <div id="bottom">
    <ion-button expand="block" (click)="getAnimations()">Get Animations</ion-button>
  </div>



</ion-content>

